force-app/main/default/flows/Add_Discount_Multiplier_to_QLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assigns the pricing library name to the corresponding field in QLE</description>
        <name>Assign_Account_Pricing_Library_Name</name>
        <label>Assign Account Pricing Library Name</label>
        <locationX>1844</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineStore.KCPQ_Pricing_Library__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAccountPricingLibrary.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updQuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDiscountCode</name>
        <label>assignDiscountCode</label>
        <locationX>1917</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineStore.KCPQ_Discount_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPricebookPage.KCPQ_Price_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Pricing_Library_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMultiplier</name>
        <label>AssignPriceLibrarymultiplier</label>
        <locationX>1580</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineStore.KCPQ_Discount_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPricebookPage.KCPQ_Price_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Pricing_Library_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Price Library Multiplier to QLE</description>
        <name>AssignPriceLibraryMultiplier</name>
        <label>AssignPriceLibraryMultiplier</label>
        <locationX>1138</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineStore.KCPQ_Discount_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPricingLibrary.KCPQ_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Pricing_Library_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordCount</name>
        <label>assRecordCount</label>
        <locationX>978</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAccountPricingLibrary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountPricingLibrary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if there are any Price books associated with Pricing Libraries.</description>
        <name>Check_for_Pricebook_Pages</name>
        <label>Check for Pricebook Pages</label>
        <locationX>890</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>getPricingLibraryRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Library_has_Pages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collPricebookPage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopPricebookPage</targetReference>
            </connector>
            <label>Pricing Library has Pages</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check Pricing Family in Prcebook Page</description>
        <name>decisionLoopPricingLibrary</name>
        <label>decisionLoopPricingLibrary</label>
        <locationX>1675</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>loopPricebookPage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Family_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPricebookPage.KCPQ_Price_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProduct.KCPQ_Pricing_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMultiplier</targetReference>
            </connector>
            <label>Pricing Family Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Finds if Discount Code or Pricing Family is populated.</description>
        <name>Discount_Code_or_Pricing_Family</name>
        <label>Discount Code or Pricing Family</label>
        <locationX>1253</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>decisionLoopPricingLibrary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Code_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPricebookPage.KCPQ_Discount_Group_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindDiscountCode</targetReference>
            </connector>
            <label>Discount Code Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindDiscountCode</name>
        <label>FindDiscountCode</label>
        <locationX>1600</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>loopPricebookPage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Code_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPricebookPage.KCPQ_Discount_Group_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProduct.KCPQ_Default_Sales_Discount_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDiscountCode</targetReference>
            </connector>
            <label>Discount Code Found?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Account Pricing Library is Active.</description>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>405</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>loopAccountPricingLibrary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAccountPricingLibrary.KCPQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPricebookPage</targetReference>
            </connector>
            <label>Is Active?</label>
        </rules>
    </decisions>
    <description>Adds Discount Multiplier to QLE</description>
    <interviewLabel>Add Discount Multiplier to OLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Discount Multiplier to QLE v6 copy</label>
    <loops>
        <name>loopAccountPricingLibrary</name>
        <label>loopAccountPricingLibrary</label>
        <locationX>50</locationX>
        <locationY>463</locationY>
        <collectionReference>varAccountPricingLibrary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Active</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopPricebookPage</name>
        <label>loopPricebookPage</label>
        <locationX>1099</locationX>
        <locationY>584</locationY>
        <collectionReference>collPricebookPage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Code_or_Pricing_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopAccountPricingLibrary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>gets Account Pricing Library Records</description>
        <name>getAccountPricingLibrary</name>
        <label>getAccountPricingLibrary</label>
        <locationX>1117</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuote.SBQQ__Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>KCPQ_Account_Pricing_Library__c</object>
        <outputReference>varAccountPricingLibrary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Pricing_Library__c</queriedFields>
        <queriedFields>KCPQ_Account__c</queriedFields>
        <queriedFields>KCPQ_Sequence__c</queriedFields>
        <queriedFields>KCPQ_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>KCPQ_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getPricebookPage</name>
        <label>getPricebookPage</label>
        <locationX>363</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Pricebook_Pages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Library__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopAccountPricingLibrary.KCPQ_Pricing_Library__r.Id</elementReference>
            </value>
        </filters>
        <object>KCPQ_Pricebook_Page__c</object>
        <outputReference>collPricebookPage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Discount_Group_ID__c</queriedFields>
        <queriedFields>KCPQ_Price_Multiplier__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>KCPQ_Status__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Library__c</queriedFields>
        <queriedFields>KCPQ_Price_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Pricing Library Records from Account Pricing Library</description>
        <name>getPricingLibraryRecords</name>
        <label>getPricingLibraryRecords</label>
        <locationX>788</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPriceLibraryMultiplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopAccountPricingLibrary.KCPQ_Pricing_Library__r.Id</elementReference>
            </value>
        </filters>
        <object>KCPQ_Pricing_Library__c</object>
        <outputReference>varPricingLibrary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Multiplier__c</queriedFields>
        <queriedFields>KCPQ_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Product Records based on Quote Lines</description>
        <name>getProductRecords</name>
        <label>getProductRecords</label>
        <locationX>911</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountPricingLibrary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteLine.SBQQ__Product__r.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Default_Sales_Discount_Group__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>Family</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getQuoteLineRecords</name>
        <label>getQuoteLineRecords</label>
        <locationX>611</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteLine.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>varQuoteLineStore</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Discount_Multiplier__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>KCPQ_Product_ID__c</queriedFields>
        <queriedFields>SBQQ__Quote__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Library__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Quote Record Related to Quote Line</description>
        <name>getQuoteRecord</name>
        <label>getQuoteRecord</label>
        <locationX>749</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProductRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteLineStore.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>varQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
        <queriedFields>SBQQ__Opportunity2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updQuoteLine</name>
        <label>updQuoteLine</label>
        <locationX>1956</locationX>
        <locationY>759</locationY>
        <inputReference>varQuoteLineStore</inputReference>
    </recordUpdates>
    <start>
        <locationX>250</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>getQuoteLineRecords</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collPricebookPage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Pricebook_Page__c</objectType>
    </variables>
    <variables>
        <name>varAccountPricingLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Account_Pricing_Library__c</objectType>
    </variables>
    <variables>
        <name>varPricingLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Pricing_Library__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLineStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
