force-app/main/default/flows/get_Zone_Multipliers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignZone12</name>
        <label>assignZone12</label>
        <locationX>1418</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone12Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone12Price</name>
        <label>assignZone12Price</label>
        <locationX>1438</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_12_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1DN</name>
        <label>assignZone1DN</label>
        <locationX>431</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varZone1DN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct.KCPQ_Zone_1_Price_DN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NS</name>
        <label>assignZone1NS</label>
        <locationX>868</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone1NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NSPrice</name>
        <label>assignZone1NSPrice</label>
        <locationX>660</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_1_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2</name>
        <label>assignZone2</label>
        <locationX>1003</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NS</name>
        <label>assignZone2NS</label>
        <locationX>1038</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NSPrice</name>
        <label>assignZone2NSPrice</label>
        <locationX>814</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_2_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2Price</name>
        <label>assignZone2Price</label>
        <locationX>723</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_2_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3</name>
        <label>assignZone3</label>
        <locationX>1134</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone3Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3Price</name>
        <label>assignZone3Price</label>
        <locationX>886</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_3_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4</name>
        <label>assignZone4</label>
        <locationX>1254</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NS</name>
        <label>assignZone4NS</label>
        <locationX>1438</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NSPrice</name>
        <label>assignZone4NSPrice</label>
        <locationX>1333</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_4_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4Price</name>
        <label>assignZone4Price</label>
        <locationX>1228</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_4_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZoneRecord</name>
        <label>assignZoneRecord</label>
        <locationX>658</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>varZoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Zone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Zone</name>
        <label>Check Zone</label>
        <locationX>1119</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>loopZoneRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zone_1_NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 1 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone1NS</targetReference>
            </connector>
            <label>Zone 1 NS</label>
        </rules>
        <rules>
            <name>Zone_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone2</targetReference>
            </connector>
            <label>Zone 2</label>
        </rules>
        <rules>
            <name>Zone_2_NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 2 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone2NS</targetReference>
            </connector>
            <label>Zone 2 NS</label>
        </rules>
        <rules>
            <name>Zone_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone3</targetReference>
            </connector>
            <label>Zone 3</label>
        </rules>
        <rules>
            <name>Zone_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone4</targetReference>
            </connector>
            <label>Zone 4</label>
        </rules>
        <rules>
            <name>Zone_4NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 4 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone4NS</targetReference>
            </connector>
            <label>Zone 4NS</label>
        </rules>
        <rules>
            <name>Zone_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone12</targetReference>
            </connector>
            <label>Zone 12</label>
        </rules>
    </decisions>
    <formulas>
        <name>formZone1DN</name>
        <dataType>Currency</dataType>
        <expression>{!varZone1DN}*{!varPricingMultiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>get Zone Multipliers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>get Zone Multipliers</label>
    <loops>
        <name>loopZoneRecords</name>
        <label>loopZoneRecords</label>
        <locationX>486</locationX>
        <locationY>597</locationY>
        <collectionReference>collZonePricing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignZoneRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Product_Zone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>gets product records with supplied recordId</description>
        <name>getProductRecords</name>
        <label>getProductRecords</label>
        <locationX>423</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignZone1DN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Zone_1_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_1_Price_DN__c</queriedFields>
        <queriedFields>KCPQ_Zone_12_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_3_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_Price__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>Family</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getZoneRecords</name>
        <label>getZoneRecords</label>
        <locationX>325</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct.KCPQ_Pricing_Family__c</elementReference>
            </value>
        </filters>
        <object>KCPQ_Zone_Pricing__c</object>
        <outputReference>collZonePricing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>KCPQ_Zone_Pricing__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Multiplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_Product_Zone</name>
        <label>update Product Zone</label>
        <locationX>240</locationX>
        <locationY>672</locationY>
        <inputReference>varProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>24</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>getProductRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collZonePricing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Zone_Pricing__c</objectType>
    </variables>
    <variables>
        <description>Record id to be inserted</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varPricingMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductInserted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varZone1DN</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varZonePricing</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>formZone1DN</elementReference>
        </value>
    </variables>
    <variables>
        <name>varZoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Zone_Pricing__c</objectType>
    </variables>
</Flow>
