force-app/main/default/flows/Pricing_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddLoopPricebookEntrytoCollection</name>
        <label>AddLoopPricebookEntrytoCollection</label>
        <locationX>1062</locationX>
        <locationY>1558</locationY>
        <assignmentItems>
            <assignToReference>colPricebookEntryUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricebook_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPricebookEntrytoCollection</name>
        <label>AddPricebookEntrytoCollection</label>
        <locationX>999</locationX>
        <locationY>1217</locationY>
        <assignmentItems>
            <assignToReference>colPricebookEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addVarToCollection</name>
        <label>addVarToCollection</label>
        <locationX>1252</locationX>
        <locationY>2008</locationY>
        <assignmentItems>
            <assignToReference>colFuturePricing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFuturePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForPricebookEntryUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFutureValues</name>
        <label>assignFutureValues</label>
        <locationX>1432</locationX>
        <locationY>2086</locationY>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Price_Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForPricebookEntryUpdated.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Price_Increase_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Multiplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForPricebookEntryUpdated.Pricebook2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForPricebookEntryUpdated.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!loopForPricebookEntryUpdated.Product2.Name} {!Effective_Date}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFuturePricing.KCPQ_Old_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForPricebookEntryUpdated.KCPQ_Old_Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addVarToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPricebook2var</name>
        <label>assignPricebook2var</label>
        <locationX>784</locationX>
        <locationY>1434</locationY>
        <assignmentItems>
            <assignToReference>varPricebook.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.KCPQ_Old_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.KCPQ_Old_Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateUnitPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProduct</name>
        <label>AssignProduct</label>
        <locationX>991</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>varProductId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntryRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProductId</name>
        <label>assignProductId</label>
        <locationX>50</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>convertedProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopProdChosen.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProdChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVariable</name>
        <label>assignVariable</label>
        <locationX>1640</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>varPricebookEntry.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForPricebookEntryUpdated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignFutureValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateUnitPrice</name>
        <label>updateUnitPrice</label>
        <locationX>932</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>varPricebook.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook.KCPQ_Old_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLoopPricebookEntrytoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Effective Date of Record Update</description>
        <name>varEffectiveDateAssignment</name>
        <label>varEffectiveDateAssignment</label>
        <locationX>1162</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForPricebookEntryUpdated</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Pricing_Family</name>
        <choiceText>{!Pricing_Family}</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s6g000008zSPmAAM</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision to see if effective date = today</description>
        <name>Check_If_Effective_date_is_Today</name>
        <label>Check If Effective date is Today</label>
        <locationX>1766</locationX>
        <locationY>1708</locationY>
        <defaultConnector>
            <targetReference>ViewFuturePricingRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_equals_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Effective_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_Entry</targetReference>
            </connector>
            <label>Effective Date equals Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Choice</name>
        <label>Filter Choice</label>
        <locationX>566</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Get_Products_w_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Family_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Product_Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarPricing_Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Release_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Family_Records</targetReference>
            </connector>
            <label>Product Family Only</label>
        </rules>
        <rules>
            <name>Pricing_Family_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Family_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Family_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Release_Date_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Family_Records</targetReference>
            </connector>
            <label>Pricing Family Only</label>
        </rules>
        <rules>
            <name>Pricing_and_Product_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Family_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Picklist_Product_Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Release_Date_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_and_Product_Family_Records</targetReference>
            </connector>
            <label>Pricing and Product Family</label>
        </rules>
        <rules>
            <name>Product_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Status_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Status_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Product Status</label>
        </rules>
        <rules>
            <name>Product_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Manager_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Manager_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Product Manager</label>
        </rules>
        <rules>
            <name>Accounting_Group_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounting_Group_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounting_Group_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Accounting Group Only</label>
        </rules>
        <rules>
            <name>Interior_Exterior_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interior_Exterior_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interior_Exterior_Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Interior/Exterior Only</label>
        </rules>
    </decisions>
    <description>Flow to update pricing based on criteria.</description>
    <dynamicChoiceSets>
        <name>ChoiceSetforPricingFamily</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProductStatus1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KCPQ_Product_Status__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Price_Times_Multiplier</name>
        <dataType>Currency</dataType>
        <expression>{!varPricebook.UnitPrice}*{!Pricing_Multiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Pricing Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Update Flow</label>
    <loops>
        <name>loopForPricebookEntryUpdated</name>
        <label>loopForPricebookEntryUpdated</label>
        <locationX>1348</locationX>
        <locationY>1764</locationY>
        <collectionReference>colPricebookEntryUpdated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateFuturePricingRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopProdChosen</name>
        <label>loopProdChosen</label>
        <locationX>401</locationX>
        <locationY>975</locationY>
        <collectionReference>colProductChosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Product_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop to Loop through Pricebooks</description>
        <name>Pricebook_Loop</name>
        <label>Pricebook Loop</label>
        <locationX>740</locationX>
        <locationY>1688</locationY>
        <collectionReference>colPricebookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPricebook2var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_PricebookEntry_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProductLoop</name>
        <label>ProductLoop</label>
        <locationX>858</locationX>
        <locationY>1174</locationY>
        <collectionReference>colProductChosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PricebookEntryCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFuturePricingRecords</name>
        <label>CreateFuturePricingRecords</label>
        <locationX>1586</locationX>
        <locationY>1594</locationY>
        <connector>
            <targetReference>Check_If_Effective_date_is_Today</targetReference>
        </connector>
        <inputReference>colFuturePricing</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets Product Records based on entered criteria</description>
        <name>Get_Products_w_Criteria</name>
        <label>Get Products with product, Pricing Family and Release Date</label>
        <locationX>68</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProdChosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_Product_Family</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_InteriorExterior_DELETE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interior_Exterior_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricing_Family_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Product_Manager_DELETE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Manager_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Product_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Status_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Release_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Release_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ_Accounting_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accounting_Group_Text</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProductChosen</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPricebookEntryRecords</name>
        <label>GetPricebookEntryRecords</label>
        <locationX>1246</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddPricebookEntrytoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>varPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>KCPQ_Old_Unit_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Pricing an Pprroduct family records</description>
        <name>Pricing_and_Product_Family_Records</name>
        <label>Pricing and Product Family Records</label>
        <locationX>436</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProdChosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_Product_Family</elementReference>
            </value>
        </filters>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricing_Family_Text</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProductChosen</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Pricing Family Records</description>
        <name>Pricing_Family_Records</name>
        <label>Pricing Family Records</label>
        <locationX>750</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProdChosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricing_Family_Text</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProductChosen</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Product Family Records</description>
        <name>Product_Family_Records</name>
        <label>Product Family Records</label>
        <locationX>1312</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProdChosen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_Product_Family</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProductChosen</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates Pricebook Entry if Effective date = today</description>
        <name>Update_Pricebook_Entry</name>
        <label>Update_Pricebook_Entry</label>
        <locationX>2054</locationX>
        <locationY>1674</locationY>
        <connector>
            <targetReference>ViewFuturePricingRecords</targetReference>
        </connector>
        <inputReference>colPricebookEntryUpdated</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen to choose fields for Filtering</description>
        <name>Choose_Fields</name>
        <label>Choose Fields</label>
        <locationX>547</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_Choice</targetReference>
        </connector>
        <fields>
            <name>formulaBuilder</name>
            <extensionName>c:fbc_formulaBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextObjectType</name>
                <value>
                    <stringValue>Product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formulaString</name>
                <value>
                    <elementReference>varFormulaString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Choose_Fields_for_Filtering</name>
            <fieldText>&lt;p&gt;Select the Fields which are required for Filtering Products&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Family_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Product Family?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Picklist_Product_Family</name>
            <choiceReferences>ChoiceSetforPricingFamily</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Family</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Family_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Family_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Pricing Family?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pricing_Family_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Pricing_Family</elementReference>
            </defaultValue>
            <fieldText>Pricing Family</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pricing_Family_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Release_Date_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Release Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Release_Date</name>
            <dataType>Date</dataType>
            <fieldText>Release Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Release_Date_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Status_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Product Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Status_Picklist</name>
            <choiceReferences>varProductStatus1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Status_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Manager_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Product Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Manager_Text</name>
            <dataType>String</dataType>
            <fieldText>Product Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Manager_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accounting_Group_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Accounting Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accounting_Group_Text</name>
            <dataType>String</dataType>
            <fieldText>Accounting Group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Accounting_Group_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Interior_Exterior_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Interior/Exterior</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interior_Exterior_Text</name>
            <dataType>String</dataType>
            <fieldText>Interior/Exterior</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Interior_Exterior_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>User enters Effective Date</description>
        <name>Enter_Effective_Date</name>
        <label>Enter Effective Date</label>
        <locationX>996</locationX>
        <locationY>1926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>varEffectiveDateAssignment</targetReference>
        </connector>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Pricebook</name>
        <label>Enter Pricebook</label>
        <locationX>690</locationX>
        <locationY>1056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Display</targetReference>
        </connector>
        <fields>
            <name>Pricebook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pricebook2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pricebook to be chosen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PricebookId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Pricing_Multiplier</name>
        <label>Enter Pricing Multiplier</label>
        <locationX>482</locationX>
        <locationY>1652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pricebook_Loop</targetReference>
        </connector>
        <fields>
            <name>Pricing_Multiplier</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varPricingMultiplier</elementReference>
            </defaultValue>
            <fieldText>Pricing Multiplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PricebookEntryCollection</name>
        <label>PricebookEntryCollection</label>
        <locationX>452</locationX>
        <locationY>1450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Pricing_Multiplier</targetReference>
        </connector>
        <fields>
            <name>DisplayPricebookEntryRecords</name>
            <fieldText>&lt;p&gt;Collection Of Pricebook Entry Records&lt;/p&gt;&lt;p&gt;{!colPricebookEntry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Product List Collection</description>
        <name>Product_Display</name>
        <label>Product Display</label>
        <locationX>478</locationX>
        <locationY>1192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProductLoop</targetReference>
        </connector>
        <fields>
            <name>DisplayProductColl</name>
            <fieldText>&lt;p&gt;Id&apos;s of Products Chosen&lt;/p&gt;&lt;p&gt;{!colProductChosen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PricebookEntry_Updated</name>
        <label>screen PricebookEntry Updated</label>
        <locationX>732</locationX>
        <locationY>1964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Effective_Date</targetReference>
        </connector>
        <fields>
            <name>PricebookEntry_Updated</name>
            <fieldText>&lt;p&gt;Updated Pricebook Entries and Product 2 Id:&lt;/p&gt;&lt;p&gt;{!colPricebookEntryUpdated}{!varPricebook.Product2Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Product_Info</name>
        <label>Show Product Info</label>
        <locationX>178</locationX>
        <locationY>1244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Pricebook</targetReference>
        </connector>
        <fields>
            <name>Product_Table</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>KCPQ_Release_Date__c,Name,KCPQ_Pricing_Family__c, ProductCode, Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>convertedProductIds</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ViewFuturePricingRecords</name>
        <label>ViewFuturePricingRecords</label>
        <locationX>1854</locationX>
        <locationY>1360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FuturePricingDisplay</name>
            <fieldText>&lt;p&gt;Future Pricing Record ids&lt;/p&gt;&lt;p&gt;{!colFuturePricing}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;--------End of Flow--------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colFuturePricing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Future_Pricing__c</objectType>
    </variables>
    <variables>
        <description>Collection of Pricebook Entries</description>
        <name>colPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>colPricebookEntryUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Collection for Products to be selected</description>
        <name>colProductChosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>convertedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopProduct2Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Variable for Assigning Date</description>
        <name>varAssignmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Price_Times_Multiplier</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFormulaString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable for Future Pricing</description>
        <name>varFuturePricing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Future_Pricing__c</objectType>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Variable for pricing Family</description>
        <name>VarPricing_Family</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricingMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varProductId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varProductSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
