force-app/main/default/flows/Update_Pricebook_When_DN_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Updates Pricebook when DN is changed (only changes standard pricebook)</description>
    <interviewLabel>Update Pricebook When DN changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pricebook When DN changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>282</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>varPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPricebookEntries</name>
        <label>getPricebookEntries</label>
        <locationX>335</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatePricebookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>varPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>KCPQ_Old_Unit_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>411</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProductId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Zone_1_Price_DN__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updatePricebookEntries</name>
        <label>updatePricebookEntries</label>
        <locationX>632</locationX>
        <locationY>428</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookEntry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varProductId.KCPQ_Zone_1_Price_DN__c</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
