force-app/main/default/flows/Update_Product_Prices_for_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>addVariableToCollectionAmountOneQuote</name>
        <label>addVariableToCollectionAmountOneQuote</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>colQuoteLineUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuoteLineCollection_Default_One_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuoteLineCollection_Default_One_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addVariableToCollectionMultiplierAllQuotes</name>
        <label>addVariableToCollectionMultiplierAllQuotes</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colQuoteLineUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuoteLineCollection_Multiplier_All_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuoteLineCollection_Multiplier_All_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addVariableToCollectionMultiplierOneQuote</name>
        <label>addVariableToCollectionMultiplierOneQuote</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>colQuoteLineUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuoteLineCollection_Multipler_One_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuoteLineCollection_Multipler_One_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addVariableToQuoteAmountAllQuotes</name>
        <label>addVariableToQuoteAmountAllQuotes</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colQuoteLineUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuoteLineCollection_Default_All_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuoteLineCollection_Default_All_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPriceAmountAllQuotes</name>
        <label>AssignNewPriceAmountAllQuotes</label>
        <locationX>1194</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>loopQuoteLineCollection_Default_All_Quotes.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Product_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addVariableToQuoteAmountAllQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPriceAmountOneQuote</name>
        <label>AssignNewPriceAmountOneQuote</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>loopQuoteLineCollection_Default_One_Quote.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Product_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addVariableToCollectionAmountOneQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPriceMultiplierAllQuotes</name>
        <label>AssignNewPriceMultiplierAllQuotes</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>loopQuoteLineCollection_Multiplier_All_Quotes.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListPriceFormulaAllQuotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addVariableToCollectionMultiplierAllQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPriceMultiplierOneQuote</name>
        <label>AssignNewPriceMultiplierOneQuote</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>loopQuoteLineCollection_Multipler_One_Quote.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListPriceFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addVariableToCollectionMultiplierOneQuote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision for Amount change of price or Multiplier</description>
        <name>decAmountOrMultiplier</name>
        <label>decAmountOrMultiplier</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>decisionQuoteSelection_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Increase_or_Decrease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionQuoteSelection_0</targetReference>
            </connector>
            <label>Multiplier</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for Quote Selection All vs One</description>
        <name>decisionQuoteSelection_0</name>
        <label>decisionQuoteSelection</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>getQuoteLinesAll_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Quote_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Quotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuotesAll_Multiplier</targetReference>
            </connector>
            <label>One Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for Quote Selection All vs One</description>
        <name>decisionQuoteSelection_0_0</name>
        <label>decisionQuoteSelection</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>getQuoteLinesAll_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Quote_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Quotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuotesAll_Default</targetReference>
            </connector>
            <label>One Quote</label>
        </rules>
    </decisions>
    <description>Updates Product prices on all Quotes or Specified Quotes</description>
    <formulas>
        <name>ListPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!loopQuoteLineCollection_Multipler_One_Quote.SBQQ__ListPrice__c}*{!Price_increase_or_Decrease_Multiplier}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ListPriceFormulaAllQuotes</name>
        <dataType>Currency</dataType>
        <expression>{!loopQuoteLineCollection_Multiplier_All_Quotes.SBQQ__ListPrice__c}*{!Price_increase_or_Decrease_Multiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Product Prices for Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Prices for Quotes</label>
    <loops>
        <name>loopQuoteLineCollection_Default_All_Quotes</name>
        <label>loopQuoteLineCollectionDefaultAllQuotes</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <collectionReference>colQuoteLineAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPriceAmountAllQuotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateQuoteLine_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQuoteLineCollection_Default_One_Quote</name>
        <label>loopQuoteLineCollectionDefaultOneQuote</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <collectionReference>colQuoteLineAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPriceAmountOneQuote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateQuoteLine_0_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQuoteLineCollection_Multipler_One_Quote</name>
        <label>loopQuoteLineCollectionMultiplierOneQuote</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>colQuoteLineAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPriceMultiplierOneQuote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateQuoteLine_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopQuoteLineCollection_Multiplier_All_Quotes</name>
        <label>loopQuoteLineCollectionMultiplierAllQuotes</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>colQuoteLineAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPriceMultiplierAllQuotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateQuoteLine_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Product records whose name is added in the Screen.</description>
        <name>getProductRecords_0</name>
        <label>getProductRecords</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAmountOrMultiplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Zone_1_Price_DN__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all QuoteLines which have Product codes entered</description>
        <name>getQuoteLinesAll_0_0_0</name>
        <label>getQuoteLinesAll</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQuoteLineCollection_Multipler_One_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuote.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>colQuoteLineAll</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ProductCode__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all QuoteLines which have Product codes entered</description>
        <name>getQuoteLinesAll_0_0_0_0</name>
        <label>getQuoteLinesAll</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQuoteLineCollection_Multiplier_All_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>colQuoteLineAll</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ProductCode__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all QuoteLines which have Product codes entered</description>
        <name>getQuoteLinesAll_0_0_0_0_0</name>
        <label>getQuoteLinesAll</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQuoteLineCollection_Default_All_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>colQuoteLineAll</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ProductCode__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all QuoteLines which have Product codes entered</description>
        <name>getQuoteLinesAll_0_0_0_0_0_0</name>
        <label>getQuoteLinesAll</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQuoteLineCollection_Default_One_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuote.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>colQuoteLineAll</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ProductCode__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all quote lines from all quotes which have Products mentioned.</description>
        <name>getQuotesAll_Default</name>
        <label>getQuotesAllDefault</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteLinesAll_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Job_Name</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>varQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Job_Project_Builder_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all quote lines from all quotes which have Products mentioned.</description>
        <name>getQuotesAll_Multiplier</name>
        <label>getQuotesAllMultiplier</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteLinesAll_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Job_Name</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>varQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Job_Project_Builder_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates Quote Lines with right Price</description>
        <name>updateQuoteLine_0_0</name>
        <label>updateQuoteLine</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <inputReference>colQuoteLineUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Quote Lines with right Price</description>
        <name>updateQuoteLine_0_0_0</name>
        <label>updateQuoteLine</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <inputReference>colQuoteLineUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Quote Lines with right Price</description>
        <name>updateQuoteLine_0_0_0_0</name>
        <label>updateQuoteLine</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <inputReference>colQuoteLineUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Quote Lines with right Price</description>
        <name>updateQuoteLine_0_0_0_0_0</name>
        <label>updateQuoteLine</label>
        <locationX>754</locationX>
        <locationY>1334</locationY>
        <inputReference>colQuoteLineUpdated</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen to input Product and Price</description>
        <name>Product_and_Price_Input</name>
        <label>Product and Price Input</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getProductRecords_0</targetReference>
        </connector>
        <fields>
            <name>Product_Code</name>
            <dataType>String</dataType>
            <fieldText>Product Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Price_Increase_Decrease_Amount</name>
            <dataType>Boolean</dataType>
            <fieldText>Price Increase/Decrease Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Product_Price</name>
            <dataType>Currency</dataType>
            <fieldText>New Product Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Price_Increase_Decrease_Amount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Price_Increase_or_Decrease</name>
            <dataType>Boolean</dataType>
            <fieldText>Price Increase or Decrease Multiplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Price_increase_or_Decrease_Multiplier</name>
            <dataType>Number</dataType>
            <fieldText>Price increase or Decrease Multiplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Price_Increase_or_Decrease</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>All_Quotes</name>
            <dataType>Boolean</dataType>
            <fieldText>All Quotes?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Specific_Quote</name>
            <dataType>Boolean</dataType>
            <fieldText>Specific Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Job_Name</name>
            <dataType>String</dataType>
            <fieldText>Quote Name/Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Specific_Quote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_and_Price_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colQuoteLineAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>colQuoteLineUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>variable for Storing Quote</description>
        <name>varQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
