force-app/main/default/flows/Update_Zone_Pricing_on_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignVarProduct</name>
        <label>assignVarProduct</label>
        <locationX>903</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varEntryProductRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionPricingFamily</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks for Pricing Family</description>
        <name>decisionPricingFamily</name>
        <label>decisionPricingFamily</label>
        <locationX>1015</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BUILDER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEntryProductRecord.KCPQ_Pricing_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BUILDER*</stringValue>
                </rightValue>
            </conditions>
            <label>BUILDER*</label>
        </rules>
    </decisions>
    <description>Updates Zone pricing on Product</description>
    <interviewLabel>Update Zone Pricing on Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Zone Pricing on Product</label>
    <loops>
        <name>loopProducts</name>
        <label>loopProducts</label>
        <locationX>591</locationX>
        <locationY>243</locationY>
        <collectionReference>colProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignVarProduct</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>gets products based on entered id</description>
        <name>getProducts</name>
        <label>getProducts</label>
        <locationX>94</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getZonePricing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEntryProductRecord.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Zone_1_Price_DN__c</queriedFields>
        <queriedFields>KCPQ_Zone_1_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_3_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_12_Price__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Zone Pricing records based on criteria</description>
        <name>getZonePricing</name>
        <label>getZonePricing</label>
        <locationX>350</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEntryProductRecord.KCPQ_Pricing_Family__c</elementReference>
            </value>
        </filters>
        <object>KCPQ_Zone_Pricing__c</object>
        <outputReference>colZonePricing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Multiplier__c</queriedFields>
        <queriedFields>KCPQ_Zone_Pricing__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProducts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Collection to hold Zone pricing records.</description>
        <name>colZonePricing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Zone_Pricing__c</objectType>
    </variables>
    <variables>
        <description>variable for entered Product record</description>
        <name>varEntryProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
