force-app/main/default/flows/Update_Pricebook_Entry_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns Pricebook Entry to Collection</description>
        <name>assPricebookEntryToCollection</name>
        <label>assPricebookEntryToCollection</label>
        <locationX>802</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>colPricebookEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssignPricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForFuturePricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the unit price to the Increased price field in the Future pricing record.</description>
        <name>assUnitPriceToIncreased_Price</name>
        <label>assUnitPriceToIncreased Price</label>
        <locationX>974</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>varAssignPricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForFuturePricing.KCPQ_Price_Increase__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assPricebookEntryToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Variable to Loop Variable</description>
        <name>assVarToLoopVar</name>
        <label>assVarToLoopVar</label>
        <locationX>928</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>varFuturePricing.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForFuturePricing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPricingEntryRecords</targetReference>
        </connector>
    </assignments>
    <description>Updates Pricebook entry on a daily basis based on Future pricing Effective date field.</description>
    <interviewLabel>Update Pricebook Entry Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pricebook Entry Scheduled Flow</label>
    <loops>
        <description>Loop which loops through Future Pricing</description>
        <name>loopForFuturePricing</name>
        <label>loopForFuturePricing</label>
        <locationX>742</locationX>
        <locationY>117</locationY>
        <collectionReference>colFuturePricing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assVarToLoopVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updPricingEntry_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets Future Pricing Records which have effective date of today.</description>
        <name>Get_Future_Pricing_Records</name>
        <label>Get Future Pricing Records</label>
        <locationX>502</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopForFuturePricing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>KCPQ_Future_Pricing__c</object>
        <outputReference>colFuturePricing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Effective_Date__c</queriedFields>
        <queriedFields>KCPQ_Old_Price__c</queriedFields>
        <queriedFields>KCPQ_Price_Increase__c</queriedFields>
        <queriedFields>KCPQ_Price_Book__c</queriedFields>
        <queriedFields>KCPQ_Product__c</queriedFields>
        <queriedFields>KCPQ_Price_Increase_Multiplier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets pricing entry records based on Product and Pricebook ids. will store Id and Unit price.</description>
        <name>getPricingEntryRecords</name>
        <label>getPricingEntryRecords</label>
        <locationX>1146</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assUnitPriceToIncreased_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopForFuturePricing.KCPQ_Price_Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopForFuturePricing.KCPQ_Product__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>varAssignPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>KCPQ_Old_Unit_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates Pricong entry records with price from Increased price.</description>
        <name>updPricingEntry_Records</name>
        <label>updPricingEntry Records</label>
        <locationX>293</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>updateDNSubflow</targetReference>
        </connector>
        <inputReference>colPricebookEntry</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Future_Pricing_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-05</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>subflow to Call Update DN Subflow</description>
        <name>updateDNSubflow</name>
        <label>updateDNSubflow</label>
        <locationX>469</locationX>
        <locationY>486</locationY>
        <flowName>Update_DN_when_Pricebook_entry_is_updated</flowName>
        <inputAssignments>
            <name>colPricebookEntry</name>
            <value>
                <elementReference>colPricebookEntry</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Collection of Future Pricing Records with effective date of today.</description>
        <name>colFuturePricing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Future_Pricing__c</objectType>
    </variables>
    <variables>
        <description>Collection for Pricebook Entries.</description>
        <name>colPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Assigns PricebookEntry to a Variable</description>
        <name>varAssignPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Variable for a Loop in Future Pricing</description>
        <name>varFuturePricing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Future_Pricing__c</objectType>
    </variables>
</Flow>
