force-app/main/default/flows/Zone_Multiplier_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add1</name>
        <label>Add1</label>
        <locationX>658</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>varIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pauseElement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds variable to collection</description>
        <name>addProductvar2Coll</name>
        <label>addProductvar2Coll</label>
        <locationX>540</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>colProductUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign0</name>
        <label>assign0</label>
        <locationX>938</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Product_Collection_50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Loop variable to varProduct</description>
        <name>assignProductvar</name>
        <label>assignProductvar</label>
        <locationX>1049</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>varProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone1DN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone12</name>
        <label>assignZone12</label>
        <locationX>1717</locationX>
        <locationY>1029</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone12Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone12Price</name>
        <label>assignZone12Price</label>
        <locationX>1417</locationX>
        <locationY>1385</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_12_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1DN</name>
        <label>assignZone1DN</label>
        <locationX>728</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>varZone1DN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct.KCPQ_Zone_1_Price_DN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NS</name>
        <label>assignZone1NS</label>
        <locationX>1237</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone1NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NSPrice</name>
        <label>assignZone1NSPrice</label>
        <locationX>1074</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_1_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2</name>
        <label>assignZone2</label>
        <locationX>1302</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NS</name>
        <label>assignZone2NS</label>
        <locationX>1337</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NSPrice</name>
        <label>assignZone2NSPrice</label>
        <locationX>1145</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_2_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2Price</name>
        <label>assignZone2Price</label>
        <locationX>1060</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_2_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3</name>
        <label>assignZone3</label>
        <locationX>1433</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone3Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3Price</name>
        <label>assignZone3Price</label>
        <locationX>1197</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_3_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4</name>
        <label>assignZone4</label>
        <locationX>1553</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NS</name>
        <label>assignZone4NS</label>
        <locationX>1737</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varPricingMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.KCPQ_Pricing_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4NSPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NSPrice</name>
        <label>assignZone4NSPrice</label>
        <locationX>1312</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_4_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4Price</name>
        <label>assignZone4Price</label>
        <locationX>1527</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>varProduct.KCPQ_Zone_4_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varZonePricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopZoneRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZoneRecord</name>
        <label>assignZoneRecord</label>
        <locationX>957</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varZoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopZoneRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Zone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Zone</name>
        <label>Check Zone</label>
        <locationX>1418</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>loopZoneRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zone_1_NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 1 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone1NS</targetReference>
            </connector>
            <label>Zone 1 NS</label>
        </rules>
        <rules>
            <name>Zone_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone2</targetReference>
            </connector>
            <label>Zone 2</label>
        </rules>
        <rules>
            <name>Zone_2_NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 2 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone2NS</targetReference>
            </connector>
            <label>Zone 2 NS</label>
        </rules>
        <rules>
            <name>Zone_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone3</targetReference>
            </connector>
            <label>Zone 3</label>
        </rules>
        <rules>
            <name>Zone_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone4</targetReference>
            </connector>
            <label>Zone 4</label>
        </rules>
        <rules>
            <name>Zone_4NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 4 NS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone4NS</targetReference>
            </connector>
            <label>Zone 4NS</label>
        </rules>
        <rules>
            <name>Zone_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopZoneRecords.KCPQ_Zone_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone 12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone12</targetReference>
            </connector>
            <label>Zone 12</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if iteration variable is 50 or more</description>
        <name>decision50orLess</name>
        <label>decision50orLess</label>
        <locationX>512</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <label>Greater than 50</label>
        </rules>
    </decisions>
    <description>Flow to change all product zones when Multiplier changes</description>
    <formulas>
        <name>formZone1DN</name>
        <dataType>Currency</dataType>
        <expression>{!varZone1DN}*{!varPricingMultiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Zone Multiplier Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zone Multiplier Change Flow</label>
    <loops>
        <name>loopProduct</name>
        <label>loopProduct</label>
        <locationX>472</locationX>
        <locationY>589</locationY>
        <collectionReference>colProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Product_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopZoneRecords</name>
        <label>loopZoneRecords</label>
        <locationX>880</locationX>
        <locationY>1000</locationY>
        <collectionReference>collZonePricing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignZoneRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addProductvar2Coll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>gets product records with supplied recordId</description>
        <name>getProductRecords</name>
        <label>getProductRecords</label>
        <locationX>375</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getZoneRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricingFamily</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>colProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Zone_1_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_1_Price_DN__c</queriedFields>
        <queriedFields>KCPQ_Zone_12_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_2_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_3_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_NS_Price__c</queriedFields>
        <queriedFields>KCPQ_Zone_4_Price__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>Family</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getZoneRecords</name>
        <label>getZoneRecords</label>
        <locationX>427</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KCPQ_Pricing_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricingFamily</elementReference>
            </value>
        </filters>
        <object>KCPQ_Zone_Pricing__c</object>
        <outputReference>collZonePricing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KCPQ_Pricing_Family__c</queriedFields>
        <queriedFields>KCPQ_Zone_Pricing__c</queriedFields>
        <queriedFields>KCPQ_Pricing_Multiplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_Product_Collection</name>
        <label>update Product Collection</label>
        <locationX>158</locationX>
        <locationY>771</locationY>
        <inputReference>colProductUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Collection_50</name>
        <label>update Product Collection 50</label>
        <locationX>1070</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>assignProductvar</targetReference>
        </connector>
        <inputReference>colProductUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Product_Zone</name>
        <label>update Product Zone</label>
        <locationX>110</locationX>
        <locationY>1015</locationY>
        <inputReference>varProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>getProductRecords</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collZonePricing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Zone_Pricing__c</objectType>
    </variables>
    <variables>
        <name>colProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>colProductUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Record id to be inserted</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>variable for Pricing family</description>
        <name>varPricingFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricingMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductInserted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varZone1DN</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varZonePricing</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>formZone1DN</elementReference>
        </value>
    </variables>
    <variables>
        <name>varZoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KCPQ_Zone_Pricing__c</objectType>
    </variables>
    <waits>
        <name>pauseElement</name>
        <label>pauseElement</label>
        <locationX>698</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>assignProductvar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X50_iterations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>40 iterations</label>
        </waitEvents>
    </waits>
</Flow>
