force-app/main/default/flows/Zone_Pricing_Rounding_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignZone12over100</name>
        <label>assignZone12over100</label>
        <locationX>1251</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_12_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone12over100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4NSover100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone12under100</name>
        <label>assignZone12under100</label>
        <locationX>1659</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_12_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone12under100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4NSunder100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NS</name>
        <label>assignZone1NS</label>
        <locationX>1244</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_1_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone1NS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2NS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1NSover100</name>
        <label>assignZone1NSover100</label>
        <locationX>1812</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_1_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone1NS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2NSover100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone1PriceUnder100</name>
        <label>assignZone1PriceUnder100</label>
        <locationX>974</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_1_Price_DN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone1DNunder100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NS</name>
        <label>assignZone2NS</label>
        <locationX>1378</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_2_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone2NS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone3under100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2NSover100</name>
        <label>assignZone2NSover100</label>
        <locationX>1964</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_2_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone2NS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2over100</name>
        <label>assignZone2over100</label>
        <locationX>1682</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_2_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone1NSover100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone2Price</name>
        <label>assignZone2Price</label>
        <locationX>1125</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_2_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone1NS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3over100</name>
        <label>assignZone3over100</label>
        <locationX>1110</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_3_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone3over100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone12over100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone3under100</name>
        <label>assignZone3under100</label>
        <locationX>1507</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_3_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone3under100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone12under100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NSover100</name>
        <label>assignZone4NSover100</label>
        <locationX>1394</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_4_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone4NSover100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4over100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4NSunder100</name>
        <label>assignZone4NSunder100</label>
        <locationX>1805</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_4_NS_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone4NSunder100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone4under100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4over100</name>
        <label>assignZone4over100</label>
        <locationX>1535</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_4_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone4over100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone2over100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZone4under100</name>
        <label>assignZone4under100</label>
        <locationX>1969</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_4_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone4under100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateZone2Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignZonePrice</name>
        <label>assignZonePrice</label>
        <locationX>976</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>$Record.KCPQ_Zone_1_Price_DN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forZone1DNover100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignZone3over100</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionProduct</name>
        <label>DecisionProduct</label>
        <locationX>657</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KCPQ_Zone_1_Price_DN__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZonePrice</targetReference>
            </connector>
            <label>Over100</label>
        </rules>
        <rules>
            <name>Under100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KCPQ_Zone_1_Price_DN__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignZone1PriceUnder100</targetReference>
            </connector>
            <label>Under100</label>
        </rules>
    </decisions>
    <description>Rounding rules for Zone pricing</description>
    <formulas>
        <name>forZone12over100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_12_Price__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone12under100</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_12_Price__c}*10,0)/10)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone1DNover100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_1_Price_DN__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone1DNunder100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_1_Price_DN__c}*10,0)/10</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone1NS</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_1_NS_Price__c}*10,0)/10)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone2</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_2_Price__c}*20,0)/20)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone2NS</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_2_NS_Price__c}*20,0)/20)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone3over100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_3_Price__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone3under100</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_3_Price__c}*10,0)/10)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone4NSover100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_4_NS_Price__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone4NSunder100</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_4_NS_Price__c}*10,0)/10)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone4over100</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.KCPQ_Zone_4_Price__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forZone4under100</name>
        <dataType>Currency</dataType>
        <expression>(ROUND({!$Record.KCPQ_Zone_4_Price__c}*10,0)/10)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Zone Pricing Rounding Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zone Pricing Rounding Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateProduct</name>
        <label>updateProduct</label>
        <locationX>2273</locationX>
        <locationY>84</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateZone2Product</name>
        <label>updateZone2Product</label>
        <locationX>2199</locationX>
        <locationY>271</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>DecisionProduct</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varZone1NSPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>varProduct.KCPQ_Zone_1_NS_Price__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varZonePrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>varProduct.KCPQ_Zone_1_Price_DN__c</elementReference>
        </value>
    </variables>
</Flow>
